<nav class="circle-nav">
  <ul>
    <li class="nav-item expand">
      <span class="label">Select 포즈</span>
      <img src="../assets/img/icon-pose.png">
    </li>
    <li class="nav-item expand">
        <span class="label">Select 프레임</span>
      <img src="../assets/img/icon-frame.png" >
    </li>
    <li class="nav-item expand">
        <span class="label">Community</span>
      <img src="../assets/img/icon-photo.png">
    </li>
    <li class="nav-item expand">
        <span class="label">Booth 위치</span>
      <img src="../assets/img/icon-map.png">
    </li>
    <li class="nav-item menu" onclick="location.href='../pages/menu.html'">
      <img src="../assets/img/icon-menu.png" alt="메뉴">
    </li>
  </ul>
</nav>
